{% extends "manageApp/base.html" %} 

{% load static %}

{% block title %}
HOME
{% endblock %}

{% block MainBodyContent %}

<div class="first-section">
    <div class="first-section-box1">
            <img class="svgMain" src="{% static 'manageApp/images/manage_data.svg' %}" />
    </div>
    <div class="first-section-box2">
        <h2 style="font-family: 'Holtwood One SC', serif;">
            Profile Details
        </h2>
        <p class="subtitle-style">This application contains profile details of each person in database.</p>
    </div>
</div>
<div class="second-section">
    <div class="second-section-box2">
        <h2 style="font-family: 'Holtwood One SC', serif;">
            Data Visualization
        </h2>
        <p class="subtitle-style">This application provide with option of data visualization..</p>
    </div>
    <div class="second-section-box1">
            <img class="svgMain" src="{% static 'manageApp/images/charts.svg' %}" />
    </div>
</div>

{% endblock %}
