{% extends "manageApp/base.html" %} {% load static %} {% block title %} Forget
password {% endblock %} {% block MainBodyContent %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Enter new password</h2>
    <p>
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>
    <form method="POST">
      {% csrf_token %}
      <label class="form-label" for="new_password1">Enter new password</label
      ><br />
      {{form.new_password1}}<br />
      <label class="form-label" for="new_password1"
        >Enter new password again</label
      ><br />
      {{form.new_password2}}<br />
      <br />
      <input type="submit" value="Change Password" class="btn btn-success" />
    </form>
  </div>
  <div class="col-md-2"></div>
</div>

{% endblock %}
